.about-container {
    display: flex;
    padding-top: 8rem;
    min-height: calc(100vh - 14.05rem);
    background-color: black;
    flex-direction: column;

    .coverimage {
        position: relative;
        height: 15rem;
        overflow: hidden;
  
        img {
          width: 100%;
          height: 15rem;
          object-fit: cover;
          object-position: center;
          opacity: 0.3;
        }
    }

    .title{
        display: flex;
        font-size: 3rem;
        justify-content: center;
        color: white;
        padding-top: 5.5rem;
        padding-bottom: 2rem;
        align-self: center;
        position: absolute;
        z-index: 1;
    }

    .whoweare{
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-right: calc(100%/10);
        padding-left: calc(100%/10);
        display:flex;
        flex-direction: row;
        background-color: #141414;

        @media screen and (max-width: $tablet-land) {
            flex-direction: column;
            padding-right: 3rem;
            padding-left: 3rem;
          }

        .whonow{
            flex-direction: column;
            width: calc(100%/3);
            padding-right: 2%;
            padding-left: 2%;
            
            @media screen and (max-width: $tablet-land) {
                width: 100%;
                padding: 0rem;
                padding-top: 2rem;
            }

            .question{
                display: flex;
                font-size: 2rem;
                justify-content: center;
                color: white;
                border-style: solid;
                border-top-color: #141414;
                border-left-color: #141414;
                border-right-color: #141414;
                padding-bottom: 0.5rem;
            }

            a{
                padding-top: 1.5rem;
                padding-left: 1rem;
                display: flex;
                font-size: 1.4rem;
                font-weight: lighter;
                color: white;

                @media screen and (max-width: $tablet-land) {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .employees{
        padding-top: 2rem;
        padding-bottom: 3rem;
        padding-right: 15rem;
        padding-left: 15rem;
        display:flex;
        flex-direction: column;
        background-color: black;

        .tit{
            display: flex;
            font-size: 2rem;
            justify-content: center;
            color: white;
            padding-bottom: 2rem;
        }

        .team{
            display:flex;
            flex-direction: row;

            .eachperson{
                display: flex;
                width: calc(100%/3);

                .desc{
                    display:flex;
                    flex-direction: column;

                    .name{
                        display: flex;
                        font-weight: bold;
                        font-size: 1.5rem;
                        color: white;
                    }
    
                    a{
                        display: flex;
                        font-size: 1.4rem;
                        font-weight: lighter;
                        color: white;
                    }
                }

                img{
                    display: flex;
                    justify-content: center;
                    width: 10rem;
                    padding-right: 1rem;
                }
            }
        }
    }
}

