.catalogue-container {
  display: flex;
  width: 100%;
  padding-top: 3rem;
  background-color: black;
  cursor: pointer;

  .category {
    background-color: black;
    width: calc(100% / 3);
    display: flex;
    height: 45rem;

    a {
      width: calc(100% / 3);
      display: flex;
      position: absolute;
      z-index: 1;
      color: white;
      align-self: center;
      justify-content: center;
      font-weight: lighter;
      font-size: xxx-large;
    }

    .zoom-container {
      position: relative;
      height: 45rem;
      overflow: hidden;

      img {
        height: 45rem;
        object-fit: cover;
        object-position: center;
        opacity: 0.4;
        transition: all 1s;
  
        &.selected {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
  }
}