header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  height: 8rem;
  background-color:black;

  .title-container {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding-top: 1.5rem;
    padding-left: 3rem;

    .title {
      cursor: pointer;
      font-size: 3rem;
      color: white;
      font-weight: bolder;
      text-decoration: none;
      .subcase {
        font-size: 1.5rem;
        font-weight: lighter;
        color: white;
      }
    }

    .button-containers{
      width: 100%;
      display: flex;
      justify-content: right;
      align-items: baseline;
      padding-right: 5rem;
      padding-top: 1.5rem;

      .button{
        color: white;
        padding-left: 3rem;
        font-size: 1.4rem;
        cursor: pointer;
        text-decoration: none;
        opacity: 1;
        transition: opacity 0.5s ease;

        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}